.slider-widget {
    width: 100vw;
    left: calc( -1 *( 100vw - 800px ) / 2 - 30px );
    position: relative;
}

@media ( max-width: 800px ) {
    .slider-widget {
        left: -50px;
    }
}

@media ( max-width: 500px ) {
    .slider-widget {
        left: -15px;
    }
}