---
layout: default
---

<div class="home">

<pre class="header-code" >
/**
 * Im Amman Vedi, a web developer from London,
 * this is where i spill my beans.
 *
 * <span class="header-code__highlight" >@memberof</span> Pulselive - <a href="https://pulselive.com" style="color:inherit;" >pulselive.com</a>
 * <span class="header-code__highlight" >@augments</span> Human
 */
</pre>

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        <a class="post-list-item" href="{{ post.url | relative_url }}" >

            <h3 class="post-list-item__heading">
                {{ post.title | escape }}
            </h3>
            <div class="post-list-item__text" >
                {%- if site.show_excerpts -%}
                  {{ post.excerpt }}
                {%- endif -%}
            </div>

            {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
            <span class="post-meta">
                {{ post.date | date: date_format }}
            </span>
        </a>
      </li>
      {%- endfor -%}
    </ul>

  {%- endif -%}

</div>
